@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.flex {
  display: flex; }

.grid {
  display: grid; }

.container {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 111rem;
  margin: 0 auto; }
  .container.container--py-m {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem; }
  .container.container--py-l {
    padding-top: 8rem;
    padding-bottom: 8rem; }

.button, .button--cyan, .header__links .cta {
  border-radius: 100px;
  padding: 0.8rem 3.2rem;
  cursor: pointer;
  color: white;
  border: 0;
  display: inline-block;
  font-weight: bold;
  text-align: center; }
  @media screen and (min-width: 62.375em) {
    .button, .button--cyan, .header__links .cta {
      align-self: center; } }
  .button--cyan, .header__links .cta {
    background-color: #2acfcf; }
    @media screen and (min-width: 62.375em) {
      .button--cyan:hover, .header__links .cta:hover {
        background-color: #a6eded; } }
  .button--block {
    border-radius: 0.8rem; }

.header .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: space-between; }

.header__logo {
  cursor: pointer; }
  @media screen and (min-width: 62.375em) {
    .header__logo {
      display: flex;
      align-items: center;
      justify-content: center; } }

.header__hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center; }
  @media screen and (min-width: 62.375em) {
    .header__hamburger {
      display: none; } }
  .header__hamburger .line {
    transition: all 0.3s ease;
    width: 24px;
    height: 4px;
    background-color: #bfbfbf;
    display: block;
    transform-origin: 0.5px 2px; }
    .header__hamburger .line:not(:last-child) {
      margin-bottom: 4px; }
  .header__hamburger.active .line-1 {
    transform: rotate(45deg); }
  .header__hamburger.active .line-2 {
    transform: scale(0); }
  .header__hamburger.active .line-3 {
    transform: rotate(-45deg); }

.header__links {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 9.6rem;
  background-color: #3b3054;
  border-radius: 0.8rem;
  width: calc(100% - 4.8rem);
  padding: 2.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-16px); }
  @media screen and (min-width: 62.375em) {
    .header__links {
      position: relative;
      flex-direction: row;
      opacity: 1;
      transform: none;
      background-color: transparent;
      visibility: visible;
      gap: 2.4rem;
      font-weight: 700;
      padding: 0;
      border-radius: 0;
      width: 100%;
      margin-left: 3.2rem;
      top: 0;
      left: 0;
      text-align: left;
      align-items: center;
      justify-content: flex-start; } }
  .header__links.active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1; }
  .header__links li {
    padding: 1.6rem 0; }
    @media screen and (min-width: 62.375em) {
      .header__links li {
        padding: 0; }
        .header__links li:last-child {
          right: 0;
          position: absolute; }
        .header__links li:nth-child(4) {
          right: 16rem;
          position: absolute; } }
  .header__links .login {
    border-top: 1px solid rgba(255, 255, 255, 0.138); }
  .header__links .cta {
    padding: 0.8rem 0; }
    @media screen and (min-width: 62.375em) {
      .header__links .cta {
        padding: 0.8rem 2.4rem; } }
  .header__links a {
    color: white;
    font-size: 1.8rem; }
    @media screen and (min-width: 62.375em) {
      .header__links a {
        font-size: 1.6rem; } }
  .header__links li:not(:last-child) a {
    color: #9e9aa7; }

.hero .container {
  align-items: center;
  gap: 2.4rem;
  flex-direction: column; }
  @media screen and (min-width: 62.375em) {
    .hero .container {
      flex-direction: row;
      align-items: center;
      justify-content: center; } }

.hero__text {
  text-align: center;
  flex-direction: column;
  gap: 1.6rem;
  order: 2; }
  .hero__text > * {
    max-width: 460px; }
  @media screen and (min-width: 62.375em) {
    .hero__text {
      text-align: left;
      flex: 1;
      order: 1; } }
  .hero__text .button, .hero__text .button--cyan, .hero__text .header__links .cta, .header__links .hero__text .cta {
    align-self: center; }
    @media screen and (min-width: 62.375em) {
      .hero__text .button, .hero__text .button--cyan, .hero__text .header__links .cta, .header__links .hero__text .cta {
        align-self: flex-start; } }

.hero__image {
  order: 1; }
  @media screen and (min-width: 62.375em) {
    .hero__image {
      flex: 1;
      order: 2; } }

.url .container {
  gap: 1.6rem;
  border-radius: 0.8rem;
  flex-direction: column; }

.url__input {
  flex-direction: column;
  gap: 1.6rem;
  background-color: #3b3054;
  padding: 2.4rem;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: top right;
  background-image: url(../images/bg-shorten-mobile.svg); }
  @media screen and (min-width: 62.375em) {
    .url__input {
      flex-direction: row;
      background-image: url(../images/bg-shorten-desktop.svg); } }
  .url__input input[type="text"] {
    border: 0;
    padding: 0.8rem;
    width: 100%;
    border-radius: 0.8rem; }
    @media screen and (min-width: 62.375em) {
      .url__input input[type="text"] {
        flex-basis: 80%;
        padding: 1.6rem; } }
  @media screen and (min-width: 62.375em) {
    .url__input .button--block {
      flex-basis: 20%;
      align-self: stretch; } }

.url__output {
  background-color: white;
  border-radius: 0.8rem;
  flex-direction: column; }
  .url__output .loading {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3.2rem; }
    .url__output .loading .circle {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 100px;
      background-color: #f46262;
      animation: loading 0.3s ease-in-out infinite alternate; }
    .url__output .loading .circle-2 {
      animation-fill-mode: both;
      animation-delay: 0.2s; }
    .url__output .loading .circle-3 {
      animation-fill-mode: both;
      animation-delay: 0.4s; }
  .url__output .card {
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.6rem;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0px 16px 32px rgba(42, 42, 42, 0.149);
    position: relative; }
    @media screen and (min-width: 62.375em) {
      .url__output .card {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end; } }
    .url__output .card .button.copied, .url__output .card .copied.button--cyan, .url__output .card .header__links .copied.cta, .header__links .url__output .card .copied.cta {
      background-color: #3b3054;
      color: white; }
    .url__output .card:not(:first-of-type) {
      margin-top: 2.4rem; }
    .url__output .card::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #bfbfbf; }
      @media screen and (min-width: 62.375em) {
        .url__output .card::before {
          display: none; } }
    .url__output .card__link-top {
      color: #232127;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      @media screen and (min-width: 62.375em) {
        .url__output .card__link-top {
          margin-right: auto; } }
    .url__output .card__link-bottom {
      padding-top: 0.8rem;
      color: #2acfcf; }
      @media screen and (min-width: 62.375em) {
        .url__output .card__link-bottom {
          padding-top: 0; } }

.statistics {
  text-align: center; }
  .statistics__content {
    flex-direction: column;
    text-align: center;
    gap: 9.6rem;
    padding-top: 8rem;
    position: relative; }
    @media screen and (min-width: 62.375em) {
      .statistics__content {
        flex-direction: row;
        gap: 3.2rem; } }
    .statistics__content .line {
      position: absolute;
      width: 8px;
      height: 90%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #2acfcf;
      display: block; }
      @media screen and (min-width: 62.375em) {
        .statistics__content .line {
          right: 0;
          height: 150%;
          top: 60%;
          transform: translateY(-50%) rotate(90deg); } }
    .statistics__content .card {
      position: relative;
      padding: 8rem 4rem 4rem;
      background-color: white;
      border-radius: 0.8rem;
      box-shadow: 0px 16px 32px rgba(42, 42, 42, 0.149); }
      .statistics__content .card .icon {
        background-color: #3b3054;
        position: absolute;
        width: 8.8rem;
        height: 8.8rem;
        border-radius: 100px;
        display: grid;
        place-items: center;
        top: -4.4rem;
        transform: translateX(-50%);
        left: 50%; }

.call-to-action {
  background-image: url(../images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054; }
  @media screen and (min-width: 62.375em) {
    .call-to-action {
      background-image: url(../images/bg-boost-desktop.svg); } }
  .call-to-action .container {
    text-align: center;
    flex-direction: column; }
  .call-to-action .heading {
    color: white; }

.footer {
  text-align: center;
  background-color: #232127; }
  .footer a {
    color: #9e9aa7; }
  .footer b {
    color: white; }
  .footer .container {
    gap: 4rem; }
    @media screen and (min-width: 62.375em) {
      .footer .container {
        grid-template-columns: repeat(3, 1fr); } }
  .footer__logo {
    margin: 0 auto; }
    @media screen and (min-width: 62.375em) {
      .footer__logo {
        grid-column: 1/2;
        margin: 0;
        align-self: start; } }
  @media screen and (min-width: 62.375em) {
    .footer__links {
      display: flex;
      gap: 9.6rem;
      text-align: left;
      grid-column: 2/3; } }
  .footer__links b {
    margin-bottom: 0.8rem;
    display: block; }
  .footer__links li {
    line-height: 2; }
  @media screen and (min-width: 62.375em) {
    .footer__links .link-item {
      margin: 0; } }
  .footer__socials {
    justify-content: center;
    gap: 2.4rem;
    align-self: start;
    justify-self: end; }
    @media screen and (min-width: 62.375em) {
      .footer__socials {
        align-items: center;
        grid-column: 3/4; } }
    .footer__socials img {
      cursor: pointer; }

@keyframes loading {
  0% {
    transform: translateY(-75%); }
  100% {
    transform: translateY(75%); } }

.heading {
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.04rem;
  color: #35323e; }

.heading-1 {
  letter-spacing: -0.1rem;
  font-size: 4rem; }
  @media screen and (min-width: 62.375em) {
    .heading-1 {
      font-size: 6.4rem; } }

.heading-2 {
  letter-spacing: -0.1rem;
  font-size: 3.2rem;
  margin-bottom: 1.6rem; }

.heading-3 {
  margin-bottom: 1.6rem;
  letter-spacing: -0.1rem;
  font-size: 2.4rem; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

html {
  font-size: 62.5%; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  font-size: 1.6rem;
  color: #9e9aa7;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: "Poppins", sans-serif; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
