.heading {
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.04rem;
  color: $c-g-300;
}

.heading-1 {
  letter-spacing: -0.1rem;
  font-size: $fs-40;

  @include lg {
    font-size: $fs-64;
  }
}

.heading-2 {
  letter-spacing: -0.1rem;
  font-size: $fs-32;
  margin-bottom: 1.6rem;
}

.heading-3 {
  margin-bottom: 1.6rem;
  letter-spacing: -0.1rem;
  font-size: $fs-24;
}
