.heading {
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.04rem;
  color: $c-g-300;
}

.heading-1 {
  letter-spacing: -0.1rem;
  font-size: $fs-40;
}

.heading-2 {
  letter-spacing: -0.1rem;
  font-size: $fs-32;
}

.heading-3 {
  letter-spacing: -0.1rem;
  font-size: $fs-24;
}
